body {
  margin: 0;
  font-family: "Roboto";
}

h1, h4 {
  margin: 0;
}

.app {
  margin: 5vh;
  border: solid grey 1px;
  min-height: 90vh;
  position: relative;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vh;
}

.nav-bar-left {
  display: flex;
  flex-direction: column;
}

.nav-bar-left > h1 {
  font-weight: 300;
  font-size: 3.5em;
}

.nav-bar-left > h4 {
  font-size: 1em;
  font-weight: 500;
  padding: 0.3em;
}

.nav-bar-right > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3vw;
  cursor: pointer;
}

.nav-bar-right > ul > li > a {
  text-decoration: none;
  color: black;
}

.display {  
  display: flex;
  justify-content: center;
}

.contact {
}

.contact > ul {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  list-style: none;
}

.contact > ul > li {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.contact > ul > li > img {
  max-height: 1.5em;
}

.home-contact {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 25vw;
}

.home-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2em;
  font-weight: 300;
  max-width: 23vw;
}