body {
  margin: 0;
  font-family: "Roboto";
}

h1, h4 {
  margin: 0;
}

.app {
  margin: 5vh;
  border: solid grey 1px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vh;
}

.nav-bar-left {
  display: flex;
  flex-direction: column;
}

.nav-bar-left > h1 {
  font-weight: 300;
  font-size: 3.5em;
}

.nav-bar-left > h4 {
  font-size: 1em;
  font-weight: 500;
  padding: 0.3em;
}

.nav-bar-right > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3vw;
  cursor: pointer;
}