body {
  margin: 0;
  font-family: "Roboto";
  transition: all 0.3s ease-in-out;
}

h1, h4 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  border: solid grey 1px;
  min-height: 90vh;
  position: relative;
  animation: opacity-animation 7.5s ease-in-out 1;
}

.app-dark {
  display: flex;
  flex-direction: column;
  margin: 5vh;
  border: solid grey 1px;
  min-height: 90vh;
  position: relative;
  animation: opacity-animation 7.5s ease-in-out 1;
}


.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 4vh 4vh 0vh 4vh;
}

.nav-bar-left {
  display: flex;
  flex-direction: column;
}

.nav-bar-left > h1 {
  font-weight: 300;
  font-size: 3.5em;
}

.nav-bar-left > h4 {
  font-size: 1em;
  font-weight: 500;
  padding: 0.3em;
}

.nav-bar-right > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3.5vw;
}

.nav-bar-right > ul > li > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-bar-right > ul > li > img:hover {
  transform: scale(1.15);
}

.nav-bar-right > ul > li {
  position: relative;

}

.nav-bar-right > ul > li > a:after{
  content: '';
  width: 0;
  height: 1px;
  background: gray;
  position: absolute;
  left: 0;
  bottom: -2px;
  transition: 0.5s;
}
.nav-bar-right >  ul > li > a:hover::after{
  width: 100%;
}

.nav-bar-right > ul > li > img {
  cursor: pointer;
}

.display {  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
}

.contact > ul {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  list-style: none;
}

.contact > ul > li {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.contact > ul > li > div {
  text-decoration: none;
  color: black
}

.contact > ul > li > img {
  max-height: 1.5em;
}


.home-contact {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 25vw;
}

.home-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5em;
  font-weight: 400;
  max-width: 20vw;
  padding: 0.3em;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

.loading-page > span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 45vh;
  gap: 0.1em;
}

.loading-page > span > span {
  position: relative;
  font-size: 2em;
  animation: move-text-color 4s forwards 1;
  opacity: 0;
}

@keyframes move-text-color {
  0% {
    opacity: 1;
    color: white;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes opacity-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.skills {
  padding-bottom: 1em;
}

.info {
  display: flex;
  align-items: center;
  gap: 2em;
}

.skill {
  padding: 0.3em 1.5em;
  border: solid 1px;
  border-radius: 1em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}


.loading-page {
  background-color: black;
  position:fixed;
  z-index: 99;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  gap: 3em;
  max-width: 78vw;
  padding-bottom: 0.4em;
}

.pop-up-projects-container {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 60vw;
}

.project, .project-dark {
  border: solid 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.5em 2em;
  gap: 0.5vw;
  min-width: 21em;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  text-align: center;
}

.project-dark:hover {
  box-shadow: 6px 6px 6px 0px rgba(174, 174, 174, 0.3);
}

.project:hover {
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.pop-up-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-height: 70.5vh;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.project > img, .project-dark > img {
  max-width: 15vw;
  border-radius: 0.5em;
  cursor: pointer;
}

.project > p, .project-dark > p {
  margin: 0;
}

.pop-up {
  display: flex;
  justify-content: center;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 999;
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 5% auto; /* 15% from the top and centered */
  background-color: black;
  border: 0.5px solid black;
  padding: 2.5em;
  padding-top: 1em;
  gap: 1em;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.pop-up-container-dark {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 5% auto; /* 15% from the top and centered */
  background-color: black;
  border: 0.5px solid white;
  padding: 2.5em;
  padding-top: 1em;
  gap: 1em;
}

.close {
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: large;
  align-self: flex-end;
}

.pop-up-project > img {
  object-fit: cover;
  max-width: 60vw;
  border: 0.5px solid;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}

.pop-up-button {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.dot {
  border-radius: 1em;
  padding: 0.3em;
  border: 1px solid;
  cursor: pointer;
}

.active:hover, .dot:hover {
  transform: scale(1.2);
}

.active {
  background-color: white;
  border-radius: 1em;
  padding: 0.3em;
  border: 1px solid;
  cursor: pointer;
}

.bold {
  font-weight: 600;
}

.image {
  display: flex;
  justify-content: center;
}

.image > img {
  border: 0.5px solid;
  box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.3);
  border-radius: 10em;
  max-height: 15em;
  margin-top: 2em;
  position: fixed;
}

.project-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3em;
}


.project-tools > div > img {
  cursor: pointer;
  max-height: 1.45em;
}

.none {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 960px)  { 
  /* smartphones, iPhone, portrait 480x320 phones */ 

  .app {
    display: flex;
    flex-direction: column;
    margin: 2.5vh;
    border: solid grey 1px;
    min-height: 90vh;
    overflow: scroll;
    position: relative;
    animation: opacity-animation 7.5s ease-in-out 1;
    /*
    background-image: radial-gradient(farthest-corner at -50px 70px, white 0%, white 16%, rgb(234, 233, 233) 33%, white 50.5%, rgb(241, 241, 241) 66%, white 80.5%, white 100%);
    animation: colorChange 8s infinite alternate linear;
    */
  }
  
  .app-dark {
    display: flex;
    flex-direction: column;
    margin: 2.5vh;
    border: solid grey 1px;
    min-height: 90vh;
    overflow: scroll;
    position: relative;
    animation: opacity-animation 7.5s ease-in-out 1;
    /*
    background: radial-gradient(farthest-corner at 0px 0px, #0b0b0b 0, black 16%, #211f1f 33%, black 50.5%, rgb(35, 35, 35) 66%, black 80.5%, #191919 100%);
    animation: colorChange 5s infinite alternate linear;
    */
  }

  .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: unset;
    margin: 0vh 0vh 0vh 0vh;
  }

  .nav-bar-left {
    display: flex;
    align-items: center;
  }
  
  .nav-bar-left > h1 {
    font-weight: 400;
    font-size: 4.5vh;
  }
  
  .nav-bar-left > h4 {
    font-size: 2vh;
    font-weight: 500;
    padding: 0.3em;
  }
  
  .nav-bar-right > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.nav-bar-right > ul > li {
  display: flex;
  align-self: center;
}

.nav-bar-right > ul > li > img {
  max-height: 2.6vh;
}

  .display {  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
  }
  
  .contact > ul {
    padding: 0;
    padding-left: 0em;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    list-style: none;
  }

  .contact > ul > li {
    display: flex;
    gap: 1.5vh;
    white-space: nowrap;
  }

  .contact > ul > li > img {
    max-height: 1.5em;
  }

  .home-contact {
    display: flex;  
    flex-direction: row;
    font-size: 1.8vh;
    position: absolute;
    width: 100%;
    justify-content: center;
  }

  .contact {
    display: flex;
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .home-text {
    position: relative;
    font-size: 2.5vh;
    font-weight: 400;
    max-width: 70vw;
    display: flex;
    text-align: center;
    padding: 0.3em;
  }

  .loading-page {
    background-color: black;
    position:fixed;
    z-index: 99;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }

  .loading-page > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 25vh;
    gap: 0.1em;
  }

  .loading-page > span > span {
    display: flex;
    position: relative;
    font-size: 1.5vh;
    animation: move-text-color 4s forwards 1 ;
    opacity: 0;
  }

  .skills {
    padding-bottom: 1em;
  }

  .info {
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vh;
  }

  .skill {
    padding: 0.3em 1.5em;
    border: solid 1px;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }

  .skill:hover {
    transform: scale(1.1);
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    max-width: 78vw;
    padding-bottom: 0em;
  }

  .pop-up-projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 80vw;
  }

  .project, .project-dark {
    border: solid 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    gap: 0.5vw;
    min-width: 78vw;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-align: center;
  }

  .pop-up-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5em;
    max-height: 70.5vh;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .project > img, .project-dark > img {
    max-width: 50vw;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .project > p, .project-dark > p {
    margin: 0;
  }

  .pop-up {
    display: flex;
    justify-content: center;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 999;
  }

  .pop-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% auto; /* 15% from the top and centered */
    background-color: black;
    border: 0.5px solid black;
    padding: 2em;
    width: 90%;
    padding-top: 2em;
    gap: 1em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }

  .pop-up-container-dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% auto; /* 15% from the top and centered */
    background-color: black;
    border: 0.5px solid white;
    padding: 2em;
    width: 90%;
    padding-top: 2em;
    gap: 1em;
  }

  .close {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: large;
    align-self: flex-end;
  }

  .pop-up-project > img {
    align-self: center;
    object-fit: cover;
    max-width: 79.9vw;
    border: 0.5px solid;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }

  .pop-up-button {
    display: flex;
    justify-content: center;
    gap: 1em;
  }

  .dot {
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid;
    cursor: pointer;
  }

  .active:hover, .dot:hover {
    transform: scale(1.2);
  }

  .active {
    background-color: white;
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid;
    cursor: pointer;
  }

  .bold {
    font-weight: 600;
  }

  .image {
    display: flex;
    justify-content: center;
  }

  .image > img {
    border: 0.5px solid;
    box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.3);
    border-radius: 10em;
    max-height: 20vh;
    margin-top: 2em;
    position: relative;
  }

  .project-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3em;
  }

  .project-tools > div > img {
    cursor: pointer;
    max-height: 1em;
  }
}

@media screen and (min-width:961px) and (max-width: 1023px)  {
   /* tablet, landscape iPad, lo-res laptops ands desktops */ 
     /* big landscape tablets, laptops, and desktops */ 
     
  body {
    margin: 0;
    font-family: "Roboto";
    transition: all 0.3s ease-in-out;
  }
  
  h1, h4 {
    margin: 0;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    border: solid grey 1px;
    max-height: 90vh;
    position: relative;
    animation: opacity-animation 7.5s ease-in-out 1;
    /*
    background-image: radial-gradient(farthest-corner at -50px 70px, white 0%, white 16%, rgb(234, 233, 233) 33%, white 50.5%, rgb(241, 241, 241) 66%, white 80.5%, white 100%);
    animation: colorChange 8s infinite alternate linear;
    */
  }
  
  .app-dark {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    border: solid grey 1px;
    max-height: 90vh;
    position: relative;
    animation: opacity-animation 7.5s ease-in-out 1;
    /*
    background: radial-gradient(farthest-corner at 0px 0px, #0b0b0b 0, black 16%, #211f1f 33%, black 50.5%, rgb(35, 35, 35) 66%, black 80.5%, #191919 100%);
    animation: colorChange 5s infinite alternate linear;
    */
  }
  
  @keyframes colorChange {
    from { /* radial-gradient(farthest-corner at top right, ..) */
      background-size:100% 200%;
    }
    49.9% {
      background-position:left top; 
    }
    50% { /* radial-gradient(farthest-corner at top center, ..) */
     background-size: 100% 100%;
    }
    50.1% {
      background-position:right top;
    }
    to { /* radial-gradient(farthest-corner at top left, ..) */
      background-position:right top;
      background-size:100% 150%;
    }
   }
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4vh 4vh 0vh 4vh;
  }

  .nav-bar-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  .nav-bar-left > h1 {
    font-weight: 300;
    font-size: 3.5em;
  }
  
  .nav-bar-left > h4 {
    font-size: 1em;
    font-weight: 500;
    padding: 0.3em;
    text-align: left;
  }
  
  .nav-bar-right > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3.5vw;
  }
  
  .nav-bar-right > ul > li > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .nav-bar-right > ul > li > img:hover {
    transform: scale(1.15);
  }
  
  .nav-bar-right > ul > li {
    position: relative;
  }
  
  .nav-bar-right > ul > li > a:after{
    content: '';
    width: 0;
    height: 1px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
  }
  .nav-bar-right >  ul > li > a:hover::after{
    width: 100%;
  }
  
  .nav-bar-right > ul > li > img {
    cursor: pointer;
  }
  
  .display {  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
  }
  
  .contact > ul {
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    gap: 0.7em;
    list-style: none;
  }
  
  .contact > ul > li {
    display: flex;
    align-items: center;
    gap: 1vw;
    white-space: nowrap;
  }
  
  .contact > ul > li > div {
    text-decoration: none;
    color: black
  }
  
  .contact > ul > li > img {
    max-height: 1.5em;
  }

  .contact {
    display: flex;
    position: absolute;
    left: 0;
    right: unset;
    bottom: 0;
}
  
  .home-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 25vw;
    font-size: 2vh;
  }
  
  .home-text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 20vw;
    padding: 0.3em;
    justify-content: unset;
  }
  
  .fade-appear,
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear;
  }
  
  .fade-exit {
    opacity: 0;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
  
  .loading-page > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 45vh;
    gap: 0.1em;
  }
  
  .loading-page > span > span {
    position: relative;
    font-size: 2.5vw;
    animation: move-text-color 4s forwards 1;
    opacity: 0;
  }
  
  @keyframes move-text-color {
    0% {
      opacity: 1;
      color: white;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skills {
    padding-bottom: 1em;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  
  .skill {
    padding: 0.3em 1.5em;
    border: solid 1px;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .skill:hover {
    transform: scale(1.1);
  }
  
  .loading-page {
    background-color: black;
    position:fixed;
    z-index: 99;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
  }
  
  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 3em;
    max-width: 78vw;
    padding-bottom: 0.4em;
  }
  
  .pop-up-projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 60vw;
  }
  
  .project, .project-dark {
    border: solid 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    gap: 0.5vw;
    min-width: 21em;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-align: center;
  }
  
  .project-dark:hover {
    box-shadow: 6px 6px 6px 0px rgba(174, 174, 174, 0.3);
  }
  
  .project:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .pop-up-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-height: 70.5vh;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  
  .project > img, .project-dark > img {
    max-width: 15vw;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .project > p, .project-dark > p {
    margin: 0;
  }
  
  .pop-up {
    display: flex;
    justify-content: center;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 999;
  }
  
  .pop-up-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 5% auto; /* 15% from the top and centered */
    background-color: black;
    border: 0.5px solid black;
    padding: 2.5em;
    padding-top: 1em;
    gap: 1em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .pop-up-container-dark {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 5% auto; /* 15% from the top and centered */
    background-color: black;
    border: 0.5px solid white;
    padding: 2.5em;
    padding-top: 1em;
    gap: 1em;
  }
  
  .close {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: large;
    align-self: flex-end;
  }
  
  .pop-up-project > img {
    object-fit: cover;
    max-width: 60vw;
    border: 0.5px solid;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .pop-up-button {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .dot {
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid;
    cursor: pointer;
  }
  
  .active:hover, .dot:hover {
    transform: scale(1.2);
  }
  
  .active {
    background-color: white;
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid;
    cursor: pointer;
  }
  
  .bold {
    font-weight: 600;
  }
  
  .image {
    display: flex;
    justify-content: center;
  }
  
  .image > img {
    border: 0.5px solid;
    box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.3);
    border-radius: 10em;
    max-height: 15em;
    margin-top: 2em;
    position: fixed;
  }
  
  .project-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3em;
  }
  
  .project-tools > div > img {
    cursor: pointer;
    max-height: 1.45em;
  }
  
  .none {
    display: none;
  }
  }

@media screen and (min-width:1024px) { 
  /* big landscape tablets, laptops, and desktops */ 
  body {
    margin: 0;
    font-family: "Roboto";
    transition: all 0.3s ease-in-out;
  }
  
  h1, h4 {
    margin: 0;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    border: solid grey 1px;
    max-height: 90vh;
    position: relative;
    animation: opacity-animation 7.5s ease-in-out 1;
    /*
    background-image: radial-gradient(farthest-corner at -50px 70px, white 0%, white 16%, rgb(234, 233, 233) 33%, white 50.5%, rgb(241, 241, 241) 66%, white 80.5%, white 100%);
    animation: colorChange 8s infinite alternate linear;
    */
  }
  
  .app-dark {
    display: flex;
    flex-direction: column;
    margin: 5vh;
    border: solid grey 1px;
    max-height: 90vh;
    position: relative;
    animation: opacity-animation 7.5s ease-in-out 1;
    /*
    background: radial-gradient(farthest-corner at 0px 0px, #0b0b0b 0, black 16%, #211f1f 33%, black 50.5%, rgb(35, 35, 35) 66%, black 80.5%, #191919 100%);
    animation: colorChange 5s infinite alternate linear;
    */
  }
  
  @keyframes colorChange {
    from { /* radial-gradient(farthest-corner at top right, ..) */
      background-size:100% 200%;
    }
    49.9% {
      background-position:left top; 
    }
    50% { /* radial-gradient(farthest-corner at top center, ..) */
     background-size: 100% 100%;
    }
    50.1% {
      background-position:right top;
    }
    to { /* radial-gradient(farthest-corner at top left, ..) */
      background-position:right top;
      background-size:100% 150%;
    }
   }
  
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4vh 4vh 0vh 4vh;
  }
  
  .nav-bar-left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  
  .nav-bar-left > h1 {
    font-weight: 300;
    font-size: 3.5em;
  }
  
  .nav-bar-left > h4 {
    font-size: 1em;
    font-weight: 500;
    padding: 0.3em;
    text-align: left;
  }
  
  .nav-bar-right > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3.5vw;
  }
  
  .nav-bar-right > ul > li > a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  
  .nav-bar-right > ul > li > img:hover {
    transform: scale(1.15);
  }
  
  .nav-bar-right > ul > li {
    position: relative;
  }
  
  .nav-bar-right > ul > li > a:after{
    content: '';
    width: 0;
    height: 1px;
    background: gray;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
  }
  .nav-bar-right >  ul > li > a:hover::after{
    width: 100%;
  }
  
  .nav-bar-right > ul > li > img {
    cursor: pointer;
  }
  
  .display {  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
  }
  
  .contact > ul {
    display: flex;
    padding-left: 1em;
    flex-direction: column;
    gap: 0.7em;
    list-style: none;
  }
  
  .contact > ul > li {
    display: flex;
    align-items: center;
    gap: 1vw;
    white-space: nowrap;
  }
  
  .contact > ul > li > div {
    text-decoration: none;
    color: black
  }
  
  .contact > ul > li > img {
    max-height: 1.5em;
  }

  .contact {
    display: flex;
    position: absolute;
    left: 0;
    right: unset;
    bottom: 0;
}
  
  .home-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 25vw;
    font-size: 2vh;
  }
  
  .home-text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5em;
    font-weight: 400;
    max-width: 20vw;
    padding: 0.3em;
    justify-content: unset;
  }
  
  .fade-appear,
  .fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-appear-active,
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear;
  }
  
  .fade-exit {
    opacity: 0;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
  
  .loading-page > span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 45vh;
    gap: 0.1em;
  }
  
  .loading-page > span > span {
    position: relative;
    font-size: 2.5vw;
    animation: move-text-color 4s forwards 1;
    opacity: 0;
  }
  
  @keyframes move-text-color {
    0% {
      opacity: 1;
      color: white;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes opacity-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .skills {
    padding-bottom: 1em;
  }
  
  .info {
    display: flex;
    align-items: center;
    gap: 2em;
  }
  
  .skill {
    padding: 0.3em 1.5em;
    border: solid 1px;
    border-radius: 1em;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .skill:hover {
    transform: scale(1.1);
  }
  
  .loading-page {
    background-color: black;
    position:fixed;
    z-index: 99;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
  }
  
  .projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 3em;
    max-width: 78vw;
    padding-bottom: 0.4em;
  }
  
  .pop-up-projects-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 60vw;
  }
  
  .project, .project-dark {
    border: solid 0.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em 2em;
    gap: 0.5vw;
    min-width: 21em;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
    text-align: center;
  }
  
  .project-dark:hover {
    box-shadow: 6px 6px 6px 0px rgba(174, 174, 174, 0.3);
  }
  
  .project:hover {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .pop-up-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    max-height: 70.5vh;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  
  .project > img, .project-dark > img {
    max-width: 15vw;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .project > p, .project-dark > p {
    margin: 0;
  }
  
  .pop-up {
    display: flex;
    justify-content: center;
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 999;
  }
  
  .pop-up-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 5% auto; /* 15% from the top and centered */
    background-color: black;
    border: 0.5px solid black;
    padding: 2.5em;
    padding-top: 1em;
    gap: 1em;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .pop-up-container-dark {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 5% auto; /* 15% from the top and centered */
    background-color: black;
    border: 0.5px solid white;
    padding: 2.5em;
    padding-top: 1em;
    gap: 1em;
  }
  
  .close {
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: large;
    align-self: flex-end;
  }
  
  .pop-up-project > img {
    object-fit: cover;
    max-width: 60vw;
    border: 0.5px solid;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  
  .pop-up-button {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .dot {
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid;
    cursor: pointer;
  }
  
  .active:hover, .dot:hover {
    transform: scale(1.2);
  }
  
  .active {
    background-color: white;
    border-radius: 1em;
    padding: 0.3em;
    border: 1px solid;
    cursor: pointer;
  }
  
  .bold {
    font-weight: 600;
  }
  
  .image {
    display: flex;
    justify-content: center;
  }
  
  .image > img {
    border: 0.5px solid;
    box-shadow: 9px 9px 9px 0px rgba(0,0,0,0.3);
    border-radius: 10em;
    max-height: 15em;
    margin-top: 2em;
    position: fixed;
  }
  
  .project-tools {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3em;
  }
  
  .project-tools > div > img {
    cursor: pointer;
    max-height: 1.45em;
  }
  
  .none {
    display: none;
  }
}
